*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f1f1f1;
}
.title{
    font-size: 2rem;
    padding-bottom: 5%;
    letter-spacing: 1px;
}
.underline{
    background-color: #0000ff;
    padding: 2px 2px 1px 2px;
    margin: 1% 35% 1% 35%;
}
.container{
    text-align: center;
    margin: 5% 26% 0 26%;
    padding: 0 0 5% 0;
    background-color:rgba(255, 255, 255, .9);

}
#img1{
    width: 35%;
    border-radius: 50%;
}
#author{
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: bold;
    padding: .7rem 0 .7rem 0;
}
#job{
    color: #0000ff;
    text-transform: uppercase;
    padding: 0 0 .5rem 0;
}
#info{
    width: 50%;
    margin-left: 25%;
}
.random-btn{
    font-size: 12px;
    padding: 10px 30px 10px 30px;
    margin: 20px 20px 0 20px;
    border: 1px solid blueviolet;
    border-radius: 12%;
    cursor: pointer;
}
.prev-btn, .next-btn{
    font-size: 1.5rem;
    padding: 1% 2% 1% 2%;
    margin: 5% 10% 0 10%;
    background-color: cyan;
    border-radius: 25%;
}
.random-btn:hover, .prev-btn:hover, .next-btn:hover{
    background-color: #555555;
    color: #ffffff;
}